.product__form{
padding:1rem;
margin:0px auto;
}
.Input{
    border:2px solid gainsboro;
    border-radius:2px;
    padding:0.8rem;
    width:80%;
    font:inherit;
}
.Button{
    border:2px solid darkcyan;
    padding:0.4rem;
    border-radius:2px;
    font:inherit;
    cursor: pointer;
    display:block;
     margin:1rem 0;
    width:120px;
}